body{
    font-family: 'Roboto';
}


input.text
{   width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    height: 30px;
    margin-left: 5%;
    margin-bottom: 2%;
}


.required{
	color: red;
  }

input.submit{
	background-color: #8C1D40;
    color: #FFF;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    padding: 0px 20px !important;
    height: 36px;
    line-height: 1;
	margin-left:45%;
	margin-bottom: 5%;
}

h2{
    padding-top: 2%;
}

h3{
    padding-bottom: 2%;
}

table{
    padding-bottom: 2%;
}