@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);
/* Global Styles */
a:hover {
	color: rgba(73, 4, 4);
}

/*section for signup/login*/
#login {
	font-family: 'Roboto';
	clear: both;
	background-color:white;
	color: rgba(146,146,146,1.00);
	padding-left: 600px;
	padding-top: 57px;
	padding-bottom: 57px;
	color:black;
}

#login {
	font-family: 'Roboto';
	clear: both;
	background-color:white;
	color: rgba(146,146,146,1.00);
	padding-left: 600px;
	padding-top: 57px;
	padding-bottom: 57px;
	color:black;
}

/*div for vertical line between profile and order history*/
#vertLine {
    align: center;
	border: 1px solid black;
	height: 100px;
	left: 435px;
	float: center;
	background: black}

/*order history*/
#history{
	padding-left: 50px;
	margin-left: 50px;
}

/*main page content*/
#mainWrapper {
	width: 100%;
	
}

/*heading for signup/login/logout*/
h2{
    font-family: 'Roboto';
	align:center;
}

/*login/Signup button*/
input.submit{
	background-color: #8C1D40;
    border: none;
    color: #FFF;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    padding: 0px 20px !important;
    height: 36px;
    line-height: 1;
	margin-left:80px;
}

/*logout button*/
#logout{
	margin-top: 40px;
	margin-left: 60px;
	
}
/*Text fields for Signup/login */
input.text
{   width: 30%;
	background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000;
    font-size: 14px;
    height: 30px;
    padding: 0 5px;
}

/*label for signup/login*/
.label {
    display: inline;
    font-size: 15px;
    font-weight: bold;
    line-height: 32px;
    margin: 0;
    width: 125px;
    padding-bottom: 2px;
}

/*for asterisk for input fields*/
.required{
	color: red;
  }
/*for Profile Info table*/
#profile{
    float: center;
    padding-bottom: 5%;
    padding-top: 5%;
}

.is_error {
    color: #D8000C;
    background-color: #FFD2D2;
    width: fit-content;
}

.email{
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: bold;
    line-height: 32px;
    margin: 0;
    width: 125px;
    padding-bottom: 2px;
}

.name{
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: bold;
    line-height: 32px;
    margin: 0;
    width: 125px;
    padding-bottom: 2px;
}

#name-td{
    padding-right: 20%;
}

#email-td{
    padding-left: 20%;
}

#orders{
    padding-top: 5%;
    width: 80%;
}

.line{
    border-bottom: 1px solid #ccc;
}


