@charset "utf-8";
/* Global Styles */
a:hover {
	color: rgba(255,255,255,1.00);
}

/*order details table*/
table{
	width:100%;
}
table th{
	background-color: black;
  color: white;
}
table tr:nth-child(even) {
  background-color: #eee;
}
table tr:nth-child(odd) {
 background-color: #fff;
}
table, th, td {
margin: 5px;
padding: 15px;
border: 1px solid black;
border-collapse: collapse;
text-align: center;
}

/*order section*/
#order {
	font-family: 'Montserrat', sans-serif;
	clear: both;
	background-color:white;
	color: black;
	padding-left: 30px;
	padding-top: 57px;
	padding-bottom: 57px;
	padding-right: 30px;
}

/*heading of the page*/
h2{
	text-align: center;
}

/*main content section*/
#mainWrapper {
	width: 100%;
}

/*button for managing orders*/
input.complete{
	background-color: #8C1D40;
    border: none;
    color: #FFF;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    padding: 0px 20px !important;
    height: 36px;
    line-height: 1;}

input.complete:hover
{
	background-color: green
}