<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Simple Theme</title>
    <link href="static/CSS/about-us.css" rel="stylesheet" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>
    $(function(){
      $("#basic-layout").load("basic-layout.html");
    });
    </script>
</head>
<body style="height:100%">
<div id="basic-layout"></div>
<div class="colContainer" style="padding-top: 100px;padding-bottom: 100px;">
    <section class="intro">
        <div class="column" style="width:30%;margin-top: 100px;">
            <h3>ABOUT US</h3>
        </div>
        <div class="column" style="width:70%;font-family: 'Montserrat', sans-serif;font-size: 12px;">
            <p>Wood Engraver is a fictious specialty gift retailer, with over 80+ locations in shopping malls, as well
                as a successful eCommerce website that continues to grow every year. Our ability to customize gifts
                through laser engraving, apart in the retail marketplace.We have successfully been in business for over
                30 years. Our strongest sales periods are occasion based like Christmas, Mother's Day/Father's Day,
                Graduation, Valentine's Day, and Weddings. </p>
            <p>Our unique selling proposition is on-demand customizing of products with designs, sentiments, or
                names/dates. Our in-store Gift Experts help customers to select the right product for their occasion or
                recipient, help with customizing the design and sentiment for the gift, and customize the gift right in
                our stores with an engraving machine.</p>
        </div>
    </section>
</div>
</body>
</html>