<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Simple Theme</title>
    <link href="static/CSS/product-details.css" rel="stylesheet" type="text/css">
    <link href="/static/CSS/basic-layout.css" rel="stylesheet" type="text/css">
    <script>var __adobewebfontsappname__="dreamweaver"</script>
    <script src="http://use.edgefonts.net/montserrat:n4:default;source-sans-pro:n2:default.js"
            type="text/javascript"></script>
    <script src="static/Scripts/jquery.js"></script>
    <script type="text/javascript">
        function openPage(pageURL)
            {
            window.location.href = pageURL;
            }


    </script>
    <script type="text/javascript">
        $(function () {
            $('#preview').click(function() {
                var wood_id = $(".wood_type:checked").val();
                var design_id = $(".design_type:checked").val();
                $.ajax({
                    url : '/preview?model_id=' + {{ product['model_id'] }} + '&wood_id=' + wood_id + '&design_id=' + design_id,
                    success: function(data) {
                        var image = "data:image/png;base64," + data['preview_image'];
                        document.getElementById('product_image').src = image
                    }
                });
            })
        });

    </script>
    <script>
    $(function(){
      $("#basic-layout").load("basic-layout.html");
    });

    </script>

</head>

<body>
<div id="basic-layout"></div>
<section>
    <h2 class="noDisplay">Main Content</h2>
    <aside class="left_article"><img alt="" class="placeholder" height="200" id="product_image"
                                     src="data:image/png;base64,{{product['image'].decode('utf-8')}}"
                                     width="400"/></aside>
    <article class="right_article">
        <h3><strong>{{product['title']}}</strong></h3>
        <strong><h1> ${{product['price']}}</h1></strong>
        <p>{{product['description']}}</p>
        <form action="{{url}}" id="preview_form" method="get">
            <h3>Select Wood type</h3>
            {%for i in range(0, 5)%}

            <label>
                <input class="wood_type" name="wood_type" type="radio" value={{wood_type[i]['ID']}}/>
                <img alt={{wood_type[i]['name']}}/
                     src="data:image/png;base64,{{wood_type[i]['image'].decode('utf-8')}}">
            </label>
            {%endfor%}

            <h3>Select image engraving</h3>

            {%for i in range(0, 5)%}

            <label>
                <input class="design_type" name="design_type" type="radio" value={{wood_design[i]['ID']}}/>
                <img alt={{wood_design[i]['name']}}/
                     src="data:image/png;base64,{{wood_design[i]['image'].decode('utf-8')}}">
            </label>

            {%endfor%}
        <h3>Enter personal message</h3>
        <input class="personal_message" id="personal_message" maxlength="20 " placeholder="Enter up to 20 characters" type="text">

        </form>

        <h3>
            <button class="buttons" id="preview">Preview</button>
        </h3>

        <h3>
            <select class="quantity">
                <option value="0">Select quantity</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <a href="/addToCart?id={{request.args.get('id')}}"><button type="submit" class="buttons"><strong>Add to Cart</strong></button></a>
        </h3>
    </article>
</section>
</body>
</html>